<div class="search-box">
    <input class="search-txt" type="text" placeholder="Enter city/country name" [(ngModel)]="searchTxt" />
    <button class="search-btn" (click)="search()"><i class="fa fa-search" aria-hidden="true"></i></button>
</div>
<div class="weather-status-table-frame">
    <app-weather-status-table [weatherTableDataSetsObs]="weatherTableDataSetsSub.asObservable()"></app-weather-status-table>
</div>
<div class="line-graph-frame bg-white" *ngIf="temperatureData">
    <ngb-tabset type="pills" class="nav-fill">
        <!-- Temperature -->
        <ngb-tab title="Temperature">
            <ng-template ngbTabContent>
                <app-line-chart-template [inputDataPackage]="temperatureData" [graphTitle]="'Temperature (°C)'" (addCityReq)="onAddCityReq($event)" (removeCityReq)="onRemoveCityReq($event)"></app-line-chart-template>
            </ng-template>
        </ngb-tab>
        <!-- Pressure -->
        <ngb-tab title="Pressure">
            <ng-template ngbTabContent>
                <app-line-chart-template [inputDataPackage]="pressureData" [graphTitle]="'Pressure (Pa)'" (addCityReq)="onAddCityReq($event)" (removeCityReq)="onRemoveCityReq($event)"></app-line-chart-template>
            </ng-template>
        </ngb-tab>
        <!-- Humidity -->
        <ngb-tab title="Humidity">
            <ng-template ngbTabContent>
                <app-line-chart-template [inputDataPackage]="humidData" [graphTitle]="'Humidity (%)'" (addCityReq)="onAddCityReq($event)" (removeCityReq)="onRemoveCityReq($event)"></app-line-chart-template>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>

<div class="result-display color-red" *ngIf="locationResult">
    {{locationResult}}
</div>