.color-red {
    color: red;
}

.spinner {
    margin-top: 2%;
}

.weather-status-table-frame {
    padding-top: 2%;
}

.line-graph-frame {
    width: 100%;
}

:host {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 20px;
}

.search-box {
    display: inline-block;
    background: #2f3640;
    /* height: 40px; */
    border-radius: 40px;
    padding: 10px;
    width: 50%;
}

.search-txt {
    border: none;
    background: none;
    float: left;
    outline: none;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 80%;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.result-display {
    color: white;
}

@media only screen and (max-width: 600px) {
    /* this hide button should not work for desktop */
    .search-box {
        width: 90%;
    }
}