:host {
    margin: 2%;
}

.overview-header {
    position: relative;
    text-align: center;
}

.line-chart-display {
    width: 100%;
    padding: 2%;
    background-color: white;
}

.canvas-container {
    min-height: 300px;
    width: 100%;
}

.color-red {
    color: red;
}

.btn-group {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.line-chart-display:hover .btn-group {
    display: inline;
}