.error-page-content {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: white;
    font-size: 200%;
    text-align: center;
    text-shadow: 2px 2px black;
}