<div class="basic-display">
    <h2><strong>{{message}}</strong></h2>
</div>
<div class="spinner spinner-border text-dark" *ngIf="!doneLoading && loggedIn" role="status">
</div>

<div class="container">
    <app-weather-status-table [weatherTableDataSetsObs]="weatherTableDataSetsSub.asObservable()" [removable]="true"></app-weather-status-table>
    <app-line-chart-template [class.hide]="!doneLoading" [graphTitle]="'Temperature (°C)'" [overViewGraphUpdateEvent]="overViewTempGraphEventSub.asObservable()" (removeCityReq)="onRemoveCityReq($event)" [overViewGraph]="true"></app-line-chart-template>
    <app-line-chart-template [class.hide]="!doneLoading" [graphTitle]="'Pressure (Pa)'" [overViewGraphUpdateEvent]="overViewPressGraphEventSub.asObservable()" (removeCityReq)="onRemoveCityReq($event)" [overViewGraph]="true"></app-line-chart-template>
    <app-line-chart-template [class.hide]="!doneLoading" [graphTitle]="'Humidity (%)'" [overViewGraphUpdateEvent]="overViewHumidGraphEventSub.asObservable()" (removeCityReq)="onRemoveCityReq($event)" [overViewGraph]="true"></app-line-chart-template>
</div>